@font-face {
    font-family: poppins;
    src: url(assets/Poppins-Regular.ttf);
}

@font-face {
    font-family: rowdies;
    src: url(assets/Rowdies-Regular.ttf);
}
@font-face {
    font-family: SemiBoldPoppins;
    src: url(assets/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: lightPoppins;
    src: url(assets/Poppins-Light.ttf);
}

body {
   
    flex-direction: column;

    margin: 0;
  
    background-color: #ffffff;
}

header {
    /* deixa o cabeçalho fixo NÃO MEXE LAURA */
    position: fixed;
    top: -5vh;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
}

.container {
    /* AQUI VAI DEIXAR TUDO DENTRO DO CABEÇALHO NO CENTRO BONITINHO E O TAMANHO DO CABECALHO*/
    text-align: center;
    display: flex;
    height: 25vh;
    /* Certifique-se de que essa altura é suficiente */
    justify-content: center;
    /* Ajuste aqui para garantir centralização */
    align-items: center;
    background-color: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.396);
}

#navegacao {
    /* AQUI TAMBÉM VAI DEIXAR TUdo BONITINHO NO CABEÇALHO */
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    /* Adiciona para centralizar o conteúdo */
}


#navegacao h1 {
    /* AQUI VAI MUDAR A FONT E O TAMANHO DELA NO CABEÇALHO SERIA A PARTE LÁ DO OVO  ONLINE*/
    font-family: rowdies;
    font-weight: 300;
}

#navegacao h3 {
    /* AQUI MUDA COR FONTE DO RESTO DO CABEÇALHO */
    font-family: poppins;
    font-weight: 300;
    color: black;
}

.titulo-ovo {
    /* abaxei aqui porque estava bem alto e queria que ficasse perto do online */
    margin-top: 6vh;
}

.assineAqui {
    /* deixei ele com o fundo e as bordas redondas */
    background-color: #F1BB45;
    border-radius: 34px;
    width: 20vh;
}

.titulo-online {
    /* COLOQUEI  PARA MUDAR A COR DO ONLINE DO OVO */
    color: #F1BB45;
    margin-top: -3vh;
}

#navegacao div {
    /* AQUI DA UM ESPAÇOENTRE AS PALAVRA EXEMPLO BENEFÍCIO  CULINÁRIA */
    margin: 5vh;
    cursor: pointer;
}


a {
    /* ISSO TIRA O TRAÇO DEBAIXO DA PALAVRA */
    text-decoration: none;
}


/* aqui acabou a parte do cabeçalho  */

/* começo da imagem! */
.imagem-principal img {
    /* editei a própria imagem para ela ficar 100% de largura na tela ------ */
        width: 100%;

    margin-top: 20vh;

}

.imagem-principal {
    /* aqui também arrumei a div da imagem principal do ovo para ficar 100% na tela */
    width: 100%;
    height: auto;

}
h5{
    font-family: "poppins";
}
/*nosso plano*/

.nosso-plano h1{
  text-align: center;
    margin-top: 30vh;
    font-family: 'Poppins';
    font-weight: 100;

}

.planos{
      font-family: 'Poppins';
      margin-top: 15vh;
}
.planos {
    /* /*a div planos guarda todos os elementos */
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
    max-width: 1200px; 
    /* Limita a largura máxima da div */
    margin: 0 auto; /* Centraliza a div na página */
    padding: 20px; /* Adiciona um pouco de espaço interno */
    box-sizing: border-box; /* Garante que o padding seja incluído na largura total */
}



/* PARTE DOS BENEFÍCIOS*/

#beneficio{
    max-width: 100%;
    display: flex;
    margin-top: 35vh;
   
}
.beneficio img{
    width: 750px;
    height: 993;
}

.titulo-beneficio{
  text-align: center;
    align-items: center;
    font-family: 'rowdies';
    font-weight: 500;
    font-size: 6vh;
}
.circulo{
    width: 99px;
    height: 95px;
    border-radius: 50%;
    background-color: #F1BB45;
    display: flex;
    justify-content: center;
    font-size: 5vh;
   
}
.circulo p{
    margin-left: 8vh;
    margin-top: 6vh;
    font-family: 'poppins';
}
.beneficio-subtitulo{
    align-items: center; 
    margin-left: 14vh;
    display: flex;
    padding: 7vh;
    
  
}
.beneficio-subtitulo h2{
     font-family: 'SemiBoldPoppins';
     margin-left: 4vh;

}
.texto-beneficio{
font-family: 'lightPoppins';
font-weight: 200;
font-size: 2.75vh;
text-align: center;
margin-top: -8vh;
width: 65vh;
margin-left: 28vh;
}


/* RECEITA*/



.titulo-receita {
    text-align: center;
    margin: 100px auto; 
    border-bottom: 2px solid black;
    padding-bottom: 2px; 
    width: 400px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: 'lightPoppins';
} 
.receitas-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px; }

.receita {
    border: 1px solid black; 
    padding: 10px; 
    width: 22%; 
    height: 350px;
    text-align: center; 
    box-sizing: border-box; 
    border-radius: 20px;
}

.receita img {
    width: 200px; 
    height: auto;
    margin-top: 20px;
}





/*Contato*/

.contato {
    margin-top: 200px;
    background-color: #FBF5F0;
    width: 100%;
    height: 1100px; /* Altura ajustada para o contêiner */
    position: relative;
}

.titulo-contato {
    padding-top: 20px;
    text-align: center;
    font-family: 'lightPoppins';
}

.img-contato {
    text-align: center;
    margin-top: -30px; /* Ajustado para não sobrepor o título */
}
.linha-contato {
    border-left: 2px solid #ECA21A; /* Linha vertical */
    height: 80%; /* Ajuste a altura da linha */
    margin: 0 20px; /* Espaçamento horizontal ao redor da linha */
}

.contato-container {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente */
    height: 60%; /* Ajusta a altura do contêiner para a área de contato */
    padding: 20px; /* Espaçamento interno do contêiner */
    box-sizing: border-box; /* Inclui o padding na largura total */
}

.endereco-contato, .email-contato {
    font-family: 'lightPoppins';
    font-size: 16px;
    text-align: center; /* Alinha o texto ao centro */
    margin: 0 20px; /* Espaçamento horizontal ao redor dos textos */
}

.mapa, .email {
    max-width: 100%; /* Garante que as imagens não ultrapassem o contêiner */
    height: auto; /* Mantém a proporção das imagens */
}
.cadastre-contato{
    text-align: center;
    align-items: center;
    color: #ECA21A;
    font-family: 'Poppins';
}

.cadastre-contato {
    margin-bottom: 20px;
}




placeholder{
    font-family: 'Poppins';
 
   
}


input{
    background-color: rgba(219, 176, 138, 0.18); /* Cor de fundo do retângulo */
    width: 400px;
    height: 80px;
    border-radius: 30px;
    border: 2px ; 
    font-size: 20px;

}
.email-form{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.button-email{
    height: 85px;
    width: 100px;
    border-radius: 30px;
    margin-left: -80px;
    border: 2px;
    background-color: #F1BB45;
}



/*Rodapé*/
.rodape{
    height: 400px;
}

.titulo-ovorodape{
    margin-top: 150px;
}
.titulo-ovorodape, .titulo-onlinerodape{
font-family: 'Rowdies';
font-weight: '400';
text-align: center;
justify-content: center;
align-items: center;
}
.titulo-onlinerodape{
   margin-top: -15px;
    color: #F1BB45;
}
.linha-rodape {
    width: 100%;
    height: 2px;
    background-color: #B2AEAE;
    margin-top: 20px;
}
.copy-rodape{
    font-family: 'Poppins';
    font-size: 13px;
    text-align: center;
    align-items: center ;
    color: #8F8F8F;

}





