@font-face {
    font-family: poppins;
    src: url(assets/Poppins-Regular.ttf);
}

@font-face {
    font-family: rowdies;
    src: url(assets/Rowdies-Regular.ttf);
}
@font-face {
    font-family: SemiBoldPoppins;
    src: url(assets/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: lightPoppins;
    src: url(assets/Poppins-Light.ttf);
}

body {
   
    flex-direction: column;

    margin: 0;
  
    background-color: #ffffff;
}

header {
    /* deixa o cabeçalho fixo NÃO MEXE LAURA */
    position: fixed;
    top: -5vh;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
}

.container {
    /* AQUI VAI DEIXAR TUDO DENTRO DO CABEÇALHO NO CENTRO BONITINHO E O TAMANHO DO CABECALHO*/
    text-align: center;
    display: flex;
    height: 25vh;
    /* Certifique-se de que essa altura é suficiente */
    justify-content: center;
    /* Ajuste aqui para garantir centralização */
    align-items: center;
    background-color: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.396);
}

#navegacao {
    /* AQUI TAMBÉM VAI DEIXAR TU BONITINHO NO CABEÇALHO */
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    /* Adiciona para centralizar o conteúdo */
}


#navegacao h1 {
    /* AQUI VAI MUDAR A FONT E O TAMANHO DELA NO CABEÇALHO SERIA A PARTE LÁ DO OVO  ONLINE*/
    font-family: rowdies;
    font-weight: 300;
}

#navegacao h3 {
    /* AQUI MUDA COR FONTE DO RESTO DO CABEÇALHO */
    font-family: poppins;
    font-weight: 300;
    color: black;
}

.titulo-ovo {
    /* abaxei aqui porque estava bem alto e queria que ficasse perto do online */
    margin-top: 6vh;
}

.assineAqui {
    /* deixei ele com o fundo e as bordas redondas */
    background-color: #F1BB45;
    border-radius: 34px;
    width: 20vh;
}

.titulo-online {
    /* COLOQUEI  PARA MUDAR A COR DO ONLINE DO OVO */
    color: #F1BB45;
    margin-top: -3vh;
}

#navegacao div {
    /* AQUI DA UM ESPAÇOENTRE AS PALAVRA EXEMPLO BENEFÍCIO  CULINÁRIA */
    margin: 5vh;
    cursor: pointer;
}


a {
    /* ISSO TIRA O TRAÇO DEBAIXO DA PALAVRA */
    text-decoration: none;
}


/* aqui acabou a parte do cabeçalho  */

/* começo da imagem! */
.imagem-principal img {
    /* editei a própria imagem para ela ficar 100% de largura na tela ------ */
        width: 100%;

    margin-top: 20vh;

}

.imagem-principal {
    /* aqui também arrumei a div da imagem principal do ovo para ficar 100% na tela */
    width: 100%;
    height: auto;

}
h5{
    font-family: "poppins";
}
/*nosso plano*/

.nosso-plano h2{
  text-align: center;
    margin-top: 30vh;
    font-family: 'Poppins';
    font-weight: 100;

}

.planos{
      font-family: 'Poppins';
      margin-top: 15vh;
}
.planos {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Limita a largura máxima da div */
    margin: 0 auto; /* Centraliza a div na página */
    padding: 20px; /* Adiciona um pouco de espaço interno */
    box-sizing: border-box; /* Garante que o padding seja incluído na largura total */
}



/* PARTE DOS BENEFÍCIOS*/

.beneficio{
    max-width: 100%;
    display: flex;
    margin-top: 35vh;
   
}
.beneficio img{
    width: 750px;
    height: 993;
}

.titulo-beneficio{
  text-align: center;
    align-items: center;
    font-family: 'rowdies';
    font-weight: 500;
    font-size: 6vh;
}
.circulo{
    width: 99px;
    height: 95px;
    border-radius: 50%;
    background-color: #F1BB45;
    display: flex;
    justify-content: center;
    font-size: 5vh;
   
}
.circulo p{
    margin-left: 8vh;
    margin-top: 6vh;
    font-family: 'poppins';
}
.beneficio-subtitulo{
    align-items: center; 
    margin-left: 14vh;
    display: flex;
    padding: 7vh;
    
  
}
.beneficio-subtitulo h2{
     font-family: 'SemiBoldPoppins';
     margin-left: 4vh;

}
.texto-beneficio{
font-family: 'lightPoppins';
font-weight: 200;
font-size: 2.75vh;
text-align: center;
margin-top: -8vh;
width: 65vh;
margin-left: 28vh;
}





/* CARROSSEL DE IMAGENS */

.titulo-carrossel {
    /* aqui é o titulo do carrossel dei um margin left só para dá um espaço, não queria deixar no centro */
    font-family: 'poppins';
    font-size: 28px;
    text-align: center;
    margin-top: 300px;
    /* useei margin-top para abaixar meu título */
    margin-left: 7vw;
}

.tudo-carrossel {
    /* coloquei essa div tudo para incluir tudo no carrossel, deixar ele no centro e ultilizei margin top para abaixar ele */
    margin-top: 15vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.carousel-container {
    /* ele também tem tudo mas a função dele mesmo é o tamanho em si do carrossel, ele mexe no js */

    position: relative;
    width: 830px;
    overflow: hidden;

}


.carousel {
    display: flex;
    transition: 0.9s;



}

.carousel ul {
    /* essa parte ele só pega o conteudo do carrossel ou seja imagens e titulo */
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

}

.tudo-funcionamento img,
h5 {
    /* esssa parte foi para arrumar o top dentro do quadrado as imagens */
    margin-top: 5vh;
}



.carousel img {
    /* essa parte teve que ficar se eu tiro esse auto as imagens ficam diferentes */
    height: auto;
}



.img {
    /* essa parte foi onde coloquei borda, tamanho dos quadrado o distanciamento delas */
    width: 243px;
    height: 236px;
    border: 1px solid black;
    margin-left: 25px;
    background-color: #F5F5F5;
    font-family: Forum;
    font-size: 22.4px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;

}

.botoes-carrossel {
    display: flex;
    align-items: center;
    height: 100%;
}

.carousel-button {
    position: absolute;
    top: 50%;
    /* Ajuste a posição vertical para o meio */
    transform: translateY(-50%);
    /* Ajuste para centralizar verticalmente usando transform */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.carousel-button-left {
    margin-left: 1vw;
}

.carousel-button-right {
    right: 1vw;
}
.div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha {
    margin-left: 14vh;
    width: 30vh; /* Adjust the width as needed */
    height: 1px; /* Adjust the height as needed */
    background-color: black; /* Adjust the color as needed */
}